// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: helvetica, arial, sans-serif;
}

.main-container {
	width: 80%;
	margin: 0 auto;
	background: #e2e2e2;
}